*{
    box-sizing: border-box;
}

html, body{
margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:12%;
    border-bottom: 1px black solid;
    padding: 0 10vw;
    background-color:#FFC017 ;
    position: sticky;
    top:0;
    transition: background-color 0.1s ease;
    z-index: 1000;
}

.scrolled{
    background-color: white;
    color: black;
}


nav{
    width: 38%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul li{
    font-size: 0.7em;
    cursor: pointer;
    
}

nav ul li:last-child{
    color: white;
    background-color: black;
    padding: 1em 1.5em;
    border-radius: 50px;
    cursor: pointer;
}

main > .topBanner {
    box-sizing: border-box;
    height:70vh;
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    background-color:#FFC017 ;
    border-bottom: 1px solid black;
}
h1 {
    font-family: "Spectral", serif;
    font-size: 6.5em;
    font-weight: 400;
    letter-spacing: -7px;
    margin-block-end: 0;
}

.title p {
    margin-top: 0;
    width: 65%;
    font-size: 1.5em;
    line-height: 1;
    margin: 1em;
}

.title button {
    color: white;
    background-color: black;
    border-radius: 50px;
    font-size: 1.2em;
    padding: 0.3em 3em;
}
nav ul li:last-child.btnScrolled{
    background-color:#538724 ;
    color: white;
}

main > *:not(.topBanner) {
    padding: 0 10vw;
}
.firstSection{
    height: 48vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: rgb(230, 230, 230) 1px solid;
}
section:first-of-type div{
    display: flex;

}
.trending{
    text-transform: uppercase;
    align-items: center;
    font-size: 0.5em;
    margin-bottom: 0.5em;
}

.tendingContainer{
    flex-wrap: wrap;
    align-content: center;
    font-size: 0.8em;
}
.trendingCard{
    flex-basis: 33%;
    margin-bottom: 1.5em;
}

.trendingCard div:nth-child(2){
    display: flex;
    width: 75%;
    flex-direction: column;
    align-content: center;
}
.number{
    flex-basis: 15%;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.16);
    font-weight: 900;
    align-items: flex-start;
}

h3, p{
    margin: 0;

}
.trendingCard img{
    width: 25px;
    height: 25px;
}
.author{
    color: black;
    align-items: center;
    padding-top: 1em;
    margin-bottom: 0.5em;
}
.trendingCard img, .author img {
    width:20px;
    height: 20px;
    margin-right:0.5em;
    border-radius: 50%;
}

.trendingCard:nth-child(3) img, .trendingCard:nth-child(4) img, .trendingCard:nth-child(5) img, .trendingCard:nth-child(6) img {
    border-radius: 20%;
}

h3{
    margin-bottom: 0.6em;
}

.date {
    color: rgba(0, 0, 0, 0.546);
    display: flex;
    align-items: center;
    font-size: 0.8em;
}
.date span{
    margin-left: 0.5em;
}

.secondSection{
    display: flex;
    justify-content: space-between;
    margin: 4em 0;
    font-size: 0.9em;
}

.secondSection section {
    width: 55%;
}

.secondSection aside {
    width: 35%;
    position: sticky;
    top: 12%; /* Below navbar */
    height: 50vh;
}

.secondSection article {
    display: flex;
    align-items: center;
}

.articlePreview{
    flex-direction: column;
    width: 70%;
    margin-bottom: 3em;
}
.img {
    width: 13vw;
    height: 18vh;
}
.img img {
    width: 100%;
    margin-left: 2em;
}

.articlePreview .author{
    font-weight: 700;
    display: flex;
    align-items: center;
}

.articlePreview h3{
    font-weight: 900;
    margin-bottom: 0.3em;
}
.articlePreview h3 + p{
    color: rgba(0, 0, 0, 0.547);
    
}
.articlePreview .date a:link, .articlePreview .date a:visited  {
    color: grey;
    text-decoration: none;
    background-color:#F2F3F3;
    padding: 0.5em;
    border-radius: 50px;
}

.articlePreview div:last-child{
    display: flex;
    justify-content: space-between;
}

aside a:link{
    color: rgba(0, 0, 0, 0.547);
    text-decoration: none;
}
.tagContainer{
display: flex;
flex-wrap: wrap;
align-content: flex-start;
padding-bottom:2em;
border-bottom: rgb(230, 230, 230) 1px solid;
}

aside h2{
    font-size:0.8em;
    text-transform: uppercase;
    font-weight: 900;
}
aside .tagContainer a{
    padding: 0.5em 1em;
    border: 1px solid #e8e8e8;
    margin: 5px;
    
}

aside ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

aside ul li {
padding-left: 2em;
margin-bottom: 0.5em;
}